<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Phala Network Wiki">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Phala Network Wiki" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://wiki.phala.network/en-us/" /><meta property="og:site_name" content="Phala Network Wiki" />
  <meta itemprop="name" content="Phala Network Wiki">
  <meta itemprop="description" content=""><meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="Phala Network Wiki"/>
  <meta name="twitter:description" content=""/>
  <link rel="stylesheet" href="https://use.typekit.net/iri2qvq.css">
  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
</head>
