<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="description" content="Phala Network Wiki">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta property="og:title" content="Phala Network Wiki" />
  <meta property="og:description" content="" />
  <meta property="og:type" content="website" />
  <meta property="og:url" content="https://wiki.phala.network/en-us/" /><meta property="og:site_name" content="Phala Network Wiki" />
  <meta itemprop="name" content="Phala Network Wiki">
  <meta itemprop="description" content=""><meta name="twitter:card" content="summary"/>
  <meta name="twitter:title" content="Phala Network Wiki"/>
  <meta name="twitter:description" content=""/>
  <link rel="stylesheet" href="https://use.typekit.net/iri2qvq.css">

  <!-- algolia -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/instantsearch.css@7.4.5/themes/satellite-min.css" integrity="sha256-TehzF/2QvNKhGQrrNpoOb2Ck4iGZ1J/DI4pkd2oUsBc=" crossorigin="anonymous" />
  <script src="https://cdn.jsdelivr.net/npm/algoliasearch@4.5.1/dist/algoliasearch-lite.umd.js" integrity="sha256-EXPXz4W6pQgfYY3yTpnDa3OH8/EPn16ciVsPQ/ypsjk=" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/instantsearch.js@4.8.3/dist/instantsearch.production.min.js" integrity="sha256-LAGhRRdtVoD6RLo2qDQsU2mp+XVSciKRC8XPOBWmofM=" crossorigin="anonymous"></script>
  <script>
    window.addEventListener('DOMContentLoaded', function() {
      const algoliaClient = algoliasearch('{{ getenv "ALGOLIA_APP_ID" }}', '{{ getenv "ALGOLIA_READONLY_API_KEY" }}');
      const emptyResult = {
        hits: [],
        nbHits: 0,
        nbPages: 0,
        page: 0,
        processingTimeMS: 0,
        emptyQuery: true,
      }
      const searchClient = {
        ...algoliaClient,
        search(requests) {
          if (requests && requests[0] && requests[0].params) {
            if (!requests[0].params.query) {
              return Promise.resolve({
                results: requests.map(() => Object.assign({}, emptyResult)),
              });
            }
            requests[0].params.attributesToHighlight = [];
            requests[0].params.attributesToSnippet = [
              'content:60', 'summary:60', 'title', 'description:60',
            ];
            requests[0].params.facetFilters = [
              ['kind:page'],
              ['lang:en-us'],
            ];
            return algoliaClient.search(requests);
          }
          return Promise.resolve({
            results: requests.map(() => Object.assign({}, emptyResult)),
          });
        }
      }
      const search = instantsearch({
        indexName: '{{ getenv "ALGOLIA_INDEX_NAME" }}',
        searchClient,
      });

      search.addWidgets([
        instantsearch.widgets.searchBox({
          container: "#searchbox"
        }),

        instantsearch.widgets.hits({
          container: "#hits",
          templates: {
            item: (item) => {
              let snippet = ''
              if (item._snippetResult.description.matchLevel !== 'none') {
                snippet = instantsearch.snippet({ attribute: 'description', hit: item })
              } else if (item._snippetResult.summary.matchLevel !== 'none') {
                snippet = instantsearch.snippet({ attribute: 'summary', hit: item })
              } else if (item._snippetResult.content.matchLevel !== 'none') {
                snippet = instantsearch.snippet({ attribute: 'content', hit: item })
              }
              return [
                `<a href="${item.url}" class="search-result-item"><header class="post-heading">`,
                '<span class="post-type">',
                item.type,
                '</span> &gt; <em class="post-title">',
                item.title,
                '</em></header>',
                snippet ? `<div class="post-snippet">${snippet}</div>` : '',
                '</a>',
              ].join('')
            },
            empty: (results) => {
              return ''
            }
          },
        }),
      ]);

      search.start();
    }, false);
  </script>
  <link rel="preconnect" href="https://{{ getenv "ALGOLIA_APP_ID" }}-dsn.algolia.net" crossorigin />

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-D26T13SWZ2"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'G-D26T13SWZ2');
  </script>

  {{ block "head/resource-hints" . }}{{ partial "head/resource-hints.html" . }}{{ end }}
  {{ block "head/script-header" . }}{{ partial "head/script-header.html" . }}{{ end }}
  {{ block "head/stylesheet" . }}{{ partial "head/stylesheet.html" . }}{{ end }}
  {{ block "head/seo" . }}{{ partial "head/seo.html" . }}{{ end }}
  {{ block "head/favicons" . }}{{ partial "head/favicons.html" . }}{{ end }}
</head>
