.footer {
  border-top: 1px solid $gray-200;
  padding-top: 5rem;
  padding-bottom: 5rem;
  background-color: #EBEBEB;
}

.footer ul {
  margin-bottom: 0;
}

.footer li {
  font-size: $font-size-sm;
  margin-bottom: 0;
}

@include media-breakpoint-up(md) {
  .footer li {
    font-size: $font-size-base;
  }
}

.footer {
  .listMenu {
    margin-top: 20px;

    @media (max-width: md) {
      padding-top: 16px;
      padding-bottom: 16px;
    }

    .title {
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 24px;
      line-height: 29px;
      color: #282828;

      @media (max-width: sm) {
        font-size: 18px;
      }
    }

    .items {
      // margin-bottom: 6px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;

      @media (max-width: sm) {
        flex-wrap: nowrap;
        height: auto;
      }
    }

    .item {
      margin-top: 30px;
      font-family: Lato;
      font-style: normal;
      font-weight: normal;
      font-size: 16px;
      line-height: 19px;
      color: #8C8C8C;

      @media (max-width: sm) {
        font-size: 14px;
        margin-top: 15px;
        margin-left: 20px;
      }

      a {
        color: #8C8C8C;
        text-decoration: none;
      }

      & a:hover {
        color: rgba(169, 173, 177, 1);
      }
    }
  }

  .subscribe-title {
    font-family: Lato-Black;
    color: #282828;
    font-size: 60px;
    line-height: 60px;
  }

  .subscribe-description {
    margin-top: 30px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #8C8C8C;
  }

  .mediaList {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}


.mediaList {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: md) {
    margin-top: 60px;
    margin-bottom: 30px;
  }

  .item {
    position: relative;

    &.wechat:hover .qrcode {
      display: block;
    }

    &:hover {
      svg {
        path {
          fill: $primary;
        }
      }
    }
  }

  .qrcode {
    position: absolute;
    bottom: 40px;
    left: 0;
    border: 2px solid $primary;
    z-index: 100;
    display: none;
    width: 200px;
    height: 200px;

    > div {
      width: 100%;
      height: 100%;
      display: block;
      border: 3px solid $black;
    }

    img {
      width: 100%;
    }
  }
}

.emailInput {
  background: #191919;
  margin-top: 30px;
  border: 1px solid white;
  padding: 8px 8px 8px 12px;
  display: flex;
  align-items: center;

  @media (max-width: sm) {
    padding: 0 11px;
  }

  &.success input {
    color: white;
  }

  input {
    flex: 1;
    display: block;
    outline: none;
    border-width: 0;
    color: $primary;
    background-color: transparent;
    height: 29px;
    font-family: Lato;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 29px;

    &::placeholder {
      color: $primary;
    }

    @media (max-width: sm) {
      font-size: 18px;
      height: 45px;
      line-height: 45px;
    }
  }

  .icon {
    margin-left: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;

    &:active .iconArrow {
      transform: translate3d(2px, 0, 0);
    }

    &:hover .iconArrow {
      fill: $primary;
    }

    .iconArrow {
      fill: gray;
      transition: all 0.1s ease;
      width: 32px;
      height: 32px;

      @media (max-width: sm) {
        width: 23px;
        height: 23px;
      }
    }
  }
}

#infoText {
  color: gray;
  font-size: 16px;
  line-height: 20px;
  height: 20px;
  margin-top: 10px;

  &.warning {
    color: $primary;
  }
}

[data-dark-mode] .footer {
  background-color: #191919;

  .title {
    color: white;
  }

  .subscribe-title {
    color: #FFFFFF;
  }

  .subscribe-description {
    color: #8C8C8C;
  }
}

.copyright {
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  text-align: right;
  color: #D9D9D9;
  margin-top: 30px;

  @include media-breakpoint-down(sm) {
    text-align: left;
  }
}

.sm-hidden {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}
