<footer class="footer text-muted">
  <div class="container-xxl">
    <div class="row">
      <div class="col-md-5">
        <div class="subscribe-title">
          {{ i18n "Subscribe" }}
        </div>
        <div class="subscribe-description">
          {{ i18n "SubscribeDescription" }}
        </div>

        <div class="emailInput">
          <input placeholder="Enter your email address" type="text" value="">
            <div class="icon"><div>
            <div class="iconArrow">
              <svg width="31" height="30" viewBox="0 0 31 30" xmlns="http://www.w3.org/2000/svg">
                <path class="iconArrow" d="M2.9152 15.6564L27.0819 15.6564" stroke="#0A0A0A" stroke-width="2" stroke-linecap="square"></path>
                <path class="iconArrow" d="M21.4705 22.0306L27.8013 15.6222" stroke="#0A0A0A" stroke-width="2" stroke-linecap="square"></path>
                <path class="iconArrow" d="M27.6429 15.4542L21.2738 9.0814" stroke="#0A0A0A" stroke-width="2" stroke-linecap="square"></path>
              </svg>
            </div>
            </div>
          </div>
        </div>

        {{ partial "footer/footer-icons.html" . }}
        <!-- <div class={styles.left}>
        </div> -->
      </div>
      <div class="col-md-3">
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-5">
            <div class="listMenu">
              <div class="title">{{ i18n "Participate" }}</div>
              <div class="items">
                <div class="item">
                  <a target="_blank" href="{{ i18n "Miner-Link" }}">{{ i18n "Miner" }}</a>
                </div>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Node-Link" }}">
                    {{ i18n "Node" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Community-Link" }}">
                    {{ i18n "Community" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "About-Us-Link" }}">
                    {{ i18n "About-Us" }}</div>
                  </a>
              </div>
            </div>
          </div>
          <div class="col-sm-5">
            <div class="listMenu">
              <div class="title">{{ i18n "Resources" }}</div>

              <div class="items">
                <div class="item">
                  <a target="_blank" href="{{ i18n "Technical-Whitepaper-Link" }}">
                    {{ i18n "Technical-Whitepaper" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Token-Economics-Link" }}">
                    {{ i18n "Token-Economics" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Wiki-Link" }}">
                    {{ i18n "Wiki" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Github-Link" }}">
                    {{ i18n "Github" }}</div>
                  </a>
              </div>
            </div>
          </div>

          <div class="col-sm-5">
            <div class="listMenu">
              <div class="title md-hidden" style="color: transparent;">{{ i18n "Resources" }}</div>

              <div class="items">
                <div class="item">
                  <a target="_blank" href="{{ i18n "Testnet-Link" }}">
                    {{ i18n "Testnet" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Explorer-Link" }}">
                    {{ i18n "Explorer" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Careers-Link" }}">
                    {{ i18n "Careers" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Responsible-Disclosure-Link" }}">
                    {{ i18n "Responsible-Disclosure" }}</div>
                  </a>
              </div>
            </div>
          </div>

          <div class="row" style="text-align: right;">
            <div>COPYRIGHT © 2020 PHALA.LTD ALL RIGHTS RESERVED. </div>
            <div>May Phala be with you!</div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a target="_blank" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div> -->
  </div>
</footer>
