<footer class="footer text-muted">
  <div class="container-xxl">
    <div class="row">
      <div class="col-lg-5">
        <div class="subscribe-title">
          {{ i18n "Subscribe" }}
        </div>
        <div class="subscribe-description">
          {{ i18n "SubscribeDescription" }}
        </div>

        <div class="emailInput">
          <input id="emailInput" placeholder="Enter your email address" type="text" value="" />
            <div class="icon"><div>
            <div id="iconArrow" class="iconArrow">
              <svg class="iconArrow" width="14" height="24" viewBox="0 0 14 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path class="iconArrow" d="M12.1528 10.1732L12.1488 10.1771L1.84718 0L0 1.82488L10.3016 12.002L0.00397206 22.1751L1.85118 24L12.1488 13.8268L13.996 12.002L14 11.998L12.1528 10.1732Z" />
              </svg>
            </div>
            </div>
          </div>
        </div>
        <div id="infoText"></div>

        {{ partial "footer/footer-icons.html" . }}
        <!-- <div class={styles.left}>
        </div> -->
      </div>
      <div class="col-lg-2">
      </div>
      <div class="col-lg-9">
        <div class="row">
          <div class="col-sm-5">
            <div class="listMenu">
              <div class="title">{{ i18n "Participate" }}</div>
              <div class="items">
                <div class="item">
                  <a target="_blank" href="{{ i18n "Miner-Link" }}">{{ i18n "Miner" }}</a>
                </div>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Node-Link" }}">
                    {{ i18n "Node" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "Community-Link" }}">
                    {{ i18n "Community" }}</div>
                  </a>
                <div class="item">
                  <a target="_blank" href="{{ i18n "About-Us-Link" }}">
                    {{ i18n "About-Us" }}</div>
                  </a>
              </div>
            </div>
          </div>
          <div class="col-sm-10">
            <div class="listMenu">
              <div class="title">{{ i18n "Resources" }}</div>

              <div class="row">
                <div class="col-sm-8">
                  <div class="items">
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Technical-Whitepaper-Link" }}">
                        {{ i18n "Technical-Whitepaper" }}</div>
                      </a>
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Token-Economics-Link" }}">
                        {{ i18n "Token-Economics" }}</div>
                      </a>
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Wiki-Link" }}">
                        {{ i18n "Wiki" }}</div>
                      </a>
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Github-Link" }}">
                        {{ i18n "Github" }}</div>
                      </a>
                  </div>
                </div>
                <div class="col-sm-8">
                  <div class="items">
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Testnet-Link" }}">
                        {{ i18n "Testnet" }}</div>
                      </a>
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Explorer-Link" }}">
                        {{ i18n "Explorer" }}</div>
                      </a>
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Careers-Link" }}">
                        {{ i18n "Careers" }}</div>
                      </a>
                    <div class="item">
                      <a target="_blank" href="{{ i18n "Responsible-Disclosure-Link" }}">
                        {{ i18n "Responsible-Disclosure" }}</div>
                      </a>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="copyright">
            <div>COPYRIGHT © 2020 PHALA.LTD ALL RIGHTS RESERVED. </div>
            <div>May Phala be with you!</div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div class="row">
      <div class="col-lg-8 order-last order-lg-first">
        <ul class="list-inline">
          <li class="list-inline-item">{{ .Site.Params.footer | safeHTML }}</li>
        </ul>
      </div>
      <div class="col-lg-8 order-first order-lg-last text-lg-end">
        <ul class="list-inline">
          {{ range .Site.Menus.footer -}}
            <li class="list-inline-item"><a target="_blank" href="{{ .URL | relURL }}">{{ .Name }}</a></li>
          {{ end -}}
        </ul>
      </div>
    </div> -->
  </div>
</footer>

<script>
  window.addEventListener('load', function() {
    const portalId = '20647882';
    const formId = '0b071cad-c7bd-44dd-9f2d-e1a822e2e1cf';
    const url = 'https://api.hsforms.com/submissions/v3/integration/submit/' + portalId + '/' + formId;
    const emailInput = document.querySelector('#emailInput');
    const icon = document.querySelector('.icon');
    const iconArrow = document.querySelector('#iconArrow');
    const infoText = document.querySelector('#infoText');

    iconArrow.addEventListener('click', function() {
      const value = emailInput.value;

      if (value && checkEmail(value)) {
        // is sending
        fetch(url, {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
            'Accept': 'application/json',
          },
          body: JSON.stringify({
            fields:[
              {
                name: "email",
                value
              }
            ]
          }),
        }).then(response => {
          // is success
          if(response.status === 200) {

            console.log('response', response)

            infoText.innerHTML = 'Thank you for subscribing to our newsletter!';
          }
        })
      }
    });

    function checkEmail(email) {
      const re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(String(email).toLowerCase());
    }
  });
</script>
